* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 50% ;
    margin: 0 auto;
    background-color: white;
}

body {
    background-color: grey;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: white;
    height: 70px;
    line-height: 70px;
    padding-left: 20px;
}

.logo {
    vertical-align: middle;
    height: 50px;
}

h1 {
    display: inline;
    font-size: 40px;
    vertical-align: middle;
}

.button-task {
    color: white;
    background-color: rgb(40, 121, 209);
    padding: 5px 10px;
    border-radius: 5px
}
    

.button-section {
    color: gray;
    border-color: grey;
    background-color: white;
    padding: 5px 10px;
    border-radius: 5px
}

