* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: grey;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: white;
    height: 70px;
    line-height: 70px;
    padding-left: 20px;
}

.logo {
    vertical-align: middle;
    height: 50px;
}

h1 {
    display: inline;
    font-size: 40px;
    vertical-align: middle;
}

