* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 50%;
    margin: 0 auto;
}

body {
    background-color: rgb(234, 234, 234);
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: white;
    height: 70px;
    line-height: 70px;
    padding-left: 20px;
}

.logo {
    vertical-align: middle;
    height: 50px;
}

h1 {
    display: inline;
    font-size: 40px;
    vertical-align: middle;
}

.button-task {
    color: white;
    background-color: #2879d1;
    border-color: #2879d1;
    padding: 5px 10px;
    border-radius: 5px
}


.button-section {
    color: gray;
    border-color: grey;
    background-color: white;
    padding: 5px 10px;
    border-radius: 5px
}

.container-button {
    background-color: white;
    margin-top: 40px;
    padding: 15px 0 15px 50px;
}

.container-list {
    background-color: white;
    margin-top: 10px;
}

h2 {
    padding-left: 50px;
    align-items: center;
    font-size: 1.2em;
    margin-top: 30px;
    margin-bottom: 10px;
}


ul {
    list-style: none;
    padding-left: 20px;
}

li {
    align-items: center;
    margin-bottom: 20px;
    padding-left: 32px;
}

.check {
    width: 18px;
    height: 18px;
    border: 2px solid #7cc7a5;
    border-radius: 50%;
    position: relative;
}

.cross {
    width: 18px;
    height: 18px;
    border: 2px solid red;
    border-radius: 50%;
    position: relative;
}

.tag {
    font-size: 0.8em;
    padding: 2px 8px;
    border-radius: 12px;
    color: white;
    font-weight: bold;
}

.editorial {
    background-color: #5bb0f2;
    padding: 6px;
}

.sales {
    background-color: #a3d65c;
    padding: 6px;
}

.website {
    background-color: #da70d6;
    padding: 6px;
}

.mobile {
    background-color: #f4a742;
    padding: 6px;
}

.recruiting {
    background-color: #6fcf97;
    padding: 6px;
}

.goals {
    background-color: #a78bfa;
    padding: 6px;
}

#margine-basso {
    padding-bottom: 1px;
}

#margine-alto {
    padding-top: 10px;
}