* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 50%;
    margin: 0 auto;
}

body {
    background-color: grey;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: white;
    height: 70px;
    line-height: 70px;
    padding-left: 20px;
}

.logo {
    vertical-align: middle;
    height: 50px;
}

h1 {
    display: inline;
    font-size: 40px;
    vertical-align: middle;
}

.button-task {
    color: white;
    background-color: #2879d1;
    border-color: #2879d1;
    padding: 5px 10px;
    border-radius: 5px
}


.button-section {
    color: gray;
    border-color: grey;
    background-color: white;
    padding: 5px 10px;
    border-radius: 5px
}

.container-button {
    background-color: white;
    margin-top: 50px;
    padding: 15px 0 15px 50px;
}

.section-list {

}